*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration:none ;
}
li{
    list-style: none;
}
body{
    top:0;
    width: 100%;
    box-sizing: border-box;
}
.header__nav{
    display: block;
}
.header{
    width: 100%;
    height: 100px;
    padding: 0 100px 0 115px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;  
}
.main-nav{
    display: none;
}
.header__logo{
    width: 70px;
    height: 71px;
}
.header__list{
    display: flex;
}
.header__list-item{
    padding: 13px;
    font-size: 15px;
    letter-spacing: -0.1px;
    font-weight: 700;
}
.header__list-item:hover, .header__list-item:hover .header__list-item::before{
    color: #5363db;
}
.header__list-item::before{
    border-top: 1px solid #5363db;
    width: 50px;
    height: 2px;

}
.content__wrapper{
    position: relative;
    background-image: url(./IMG/bg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__opasity{
    background-color: rgb(83, 99, 219);
    width: 100%;
    height: 600px;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
}
.content__wrapper-form{
    z-index: 2;
    padding-right: 45px;
    box-sizing: border-box;
    flex: 0 0 50%;
}
.content__form{
    width: 300px;
    height: 390px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: auto;
    align-items: flex-end;
}
.content__form h2{
    width: 100%;
    font-size: 26px;
    line-height: 27px;
    color: blue;
    font-family: 'Open Sans', sans-serif;
}
.form__input{
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 16px;
}
.form__button{
    width: 170px;
    height: 50px;
    color: white;
    margin-bottom: 9px;
    border-radius: 10px;
    background-color: #5b6ceb;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
    font-size: 18px;
    
}
.content__wrapper-form-text{
    width: 490px;
    height: 290px;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    padding-left: 48px;
    box-sizing: border-box;

}
.content__wrapper-form-text h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 46px;
    letter-spacing: 0.14rem;
    line-height: 70px;
    margin-bottom: 30px;
}
.content__wrapper-form-text p{
    font-family: 'Dancing Script', cursive;
    font-size: 31px;
    line-height: 46px;
}
.content__program-wrapper{
    width: 100%;
    height: 1100px;
    padding:115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.title{
    font-family: 'Open Sans', sans-serif;
    color: #5b6ceb;
    font-size: 30px;
    margin-bottom:12px ;
}
.sub-title{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-bottom: 75px;
}
.content__program-info{

    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content__program-info-item{
    flex: 0 0 49%;
    margin-bottom: 20px;
    box-shadow: 10px 10px 20px #c9c9c9;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}
.content__program-info-item img{
    float: left;
    margin-right: 32px;
}
.content__program-info-item h3{
    margin-top: 37px;
    font-size: 20px;
    text-transform: uppercase;
}
.content__program-info-item p{
    margin-top: 30px;
}
.content__program-info-item span{
    display: inline-block;
    margin-top: 20px;
    color: #c9c9c9;
}
.content__img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
}
.wrapper-img{
    display: block;
    flex: 0 0 25%;
    height: 260px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.wrapper-img:hover.wrapper-img::before{
    background-color: #5363db;
    opacity: 0.8;
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrapper-img:hover.wrapper-img::after{
    background: white;
    background-image: url(../IMG/search-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}
.content__img-item1{
    background-image: url(../IMG/img-05.jpg);
}
.content__img-item2{
    background-image: url(../IMG/img-06.jpg);
}
.content__img-item3{
    background-image: url(../IMG/img-07.jpg);
}
.content__img-item4{
    background-image: url(../IMG/img-08.jpg);
}
.content__img-item5{
    background-image: url(../IMG/img-09.jpg);
}
.content__img-item6{
    background-image: url(../IMG/img-10.jpg);
}
.content__img-item7{
    background-image: url(../IMG/img-11.jpg);
}
.content__img-item8{
    background-image: url(../IMG/img-12.jpg);

}
.content_slider{
    width: 100%;
    padding: 170px 0;
    box-sizing: border-box;
    display: flex;
    padding: 15px;
}
.content_slider-left{
    flex: 0 0 50%;
}
.content_slider-left h2{
    color: #5363db;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 13px 0;
}
.content_slider-left p{
    width: 80%;
    margin: 18px 0;
    text-align: left;
}
.slider {
    width:50%;
}
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before{
    background-image:url(../IMG/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-position: center;
}
.slick-next:before {
  background-image:url(../IMG/Rectangle\ 5.png);
  background-repeat: no-repeat;
  background-position: center;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}
.content__catalog{
    position: relative;
    background-image: url(../IMG/bg-02.jpg);
    background-repeat: no-repeat;
    background-size: 138%;
    background-position-y: center;
    background-position-x: -265px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 115px;
    /* line-height: 45px; */
    z-index: -1;
}
.content__catalog:before{
    background-color: rgb(83, 99, 219);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    content: "";
    z-index: 0;
}
.content__catalog-item{
    flex: 0 0 25%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2;
    box-sizing: border-box;
    padding: 10px 10px 10px 0;
    
    
    
    /* line-height: 45px; */
}
.item-img{
    display: flex;
    width: 65px;
    height: 65px;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}
.content__catalog-item h3{
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.content__catalog-item p{
    margin-top: 12px;
    font-size: 15px;
    line-height: 27px;
    font-family: 'Open Sans', sans-serif;
}
.content__cart{
    width: 100%;
    padding:  95px 115px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(../IMG/bg-03.jpg);
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.cart{
    height: 500px;
    flex: 0 0 32%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #5363db ;
    box-shadow:  5px 5px 20px #c9c9c9;
}
.cart-top{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
    
}
.cart-top p{
    line-height: 0;
    font-size: 65px;
    font-weight:bolder;
    position: relative;
    left: 30px;
}
.cart-top p::before{
    content:  url(../IMG/157902.svg);
    position: absolute;
    left: -35px;
    top: -10px;
}
.cart-top sub{
    font-size: 20px;
    vertical-align: baseline;
}
.cart-bottom{
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    background: white;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 37px 10px 63px 10px;
    font-size: 18px;
}
.cart-bottom button{
    color: white;
    width: 170px;
    height: 50px;
    border-radius: 20px;
    background: #5363db ;
    font-size: 18px;
    margin-top: 25px;
}
.cart-bottom hr{
    width: 100px;
    height: 0.5px;
    background: #c9c9c9;
    opacity: 0.5;
}
.footer{
    background: #5363db;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    box-sizing: border-box;
    padding: 61px 115px;
    font-family: 'Open Sans', sans-serif;
}
.footer-top{
    width: 100%;
    display: flex;
}
.ABOUT{
    width: 50%;
    box-sizing: border-box;
    padding: 15px 15px 15px 0;
    display: flex;
    flex-direction: column;
    color: white;
}
.ABOUT h3 {
    margin-top: 18px;
}
.ABOUT p {
    margin-top: 50px;
    line-height: 20px;
}
.footer_icon{
    display: flex;
    width: 14%;
    justify-content: space-between;
    margin-top: -33px;
}
.icon-item{
    width: 20px;
    height: 20px;
    color: white;
}
.CONTACT{
    width: 50%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    line-height: 50px;
    color: white;
}
.CONTACT ul{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 15px 30px 30px 30px;
    flex-direction: row;
    flex-wrap: wrap;
    top: 100px;
}
.CONTACT>ul li{
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 15px 20px 20px 0;
    color: white;
    text-decoration: none;
} 
.CONTACT>ul li a {
    color:white;
}
#n1{
    position: relative;
}
#n2{
    position: relative;
}
#n3{
    position: relative;
}
#n4{
    position: relative;
}
#n1::before{
    content:  url(../IMG/location.svg);
    position: absolute;
    left: -30px;
    top:20px;
    width: 20px;
    height: 20px;
}
#n2::before{
    content:  url(../IMG/contact.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: -30px;
    top:20px;
    color: white;
}
#n3::before{
    content:  url(../IMG/phone.svg);
    position: absolute;
    left: -30px;
    top:20px;
}
#n4::before{
    content:  url(../IMG/world.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    left: -30px;
    top:20px;
}
@media (max-width: 1180px){
    .footer_icon{
        width: 25%;
    }
}
@media (max-width: 768px){
    .header, .content__program-wrapper, .content__catalog, .footer {
        padding-left: 15px;
        padding-right: 15px;
    }
    .content__wrapper-form-text{
        padding-left: 0;
    }
    .content__wrapper-form-text h1{
            font-size: 37px;
            margin-bottom: 0;
    }
    .content__wrapper-form-text p{
        font-size: 27px;
    }
    .content__program-info-item img{
        width: 50%;
        height: 100%;
    }
    .content__program-info-item p{
        margin-top: 20px;
    }
    .content__catalog{
        background-size: cover;
        background-position-x: center;
    }
    .content__cart{
        justify-content: center;
        padding: 15px;   
    }
    .cart{
        flex: 0 0 43%;
        margin-left:15px;
        margin-right:15px;
        margin-top: 80px;
    }
    .footer-top{
        flex-direction: column;
    }

    .CONTACT , .ABOUT{
        width: 100%;
        padding: 0;
    }
    .CONTACT ul{
        flex-wrap: wrap;
    }
    .footer_icon{
        width: 25%;
    }
}
@media (max-width: 320px){
    .main-nav{
        display: block;
    }
    .header{
        position: sticky;
        top: 0;
        background: white;
        z-index: 4;
    }
    .header__nav{
        display: none;
    }
    .header__list{
        display: none;
    }
    #menu__toggle {
        opacity: 0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 5;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: blue;
    }
    .menu__btn > span::before {
        content: '';
        top: -10px;
    }
    .menu__btn > span::after {
        content: '';
        top: 10px;
    }
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 4;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
      
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        transition-duration: .25s;
    }
    .menu__box {
        transition-duration: .25s;
    }
    .menu__item {
        transition-duration: .25s;
    }
    .content__wrapper{
        flex-direction: column;
        height: auto;
        box-sizing: border-box;
    }
    .content__form{
        width: 100%;
        height: 340px;
        padding: 20px;
        margin: 30px auto 20px;
    }
    .content__wrapper-form{
        padding-right: 0;
    }
    .content__opasity{
        height: 100%;
    }
    .content__wrapper-form-text{
        width: 100%;
        height: auto;
    }
    .content__wrapper-form-text h1{
        text-align: center;
        line-height: 50px;
        letter-spacing: normal;
        margin: 10px auto;
    }
    .content__wrapper-form-text p{
        text-align: center;
        margin: 10px auto 40px;
    }
    .content__program-wrapper{
        height: auto;
        padding-top: 30px;
    }
    .title{
        font-size: 26px;
        text-align: center;
    }
    .sub-title{
        margin-bottom: 30px;
    }
    .content__program-info{
        flex-direction: column;
    }
    .content__program-info-item img{
        float: none;
        width: 100%;
        margin-right: 0;
    }
    .content__program-info-item-text{
        text-align: left;
        padding: 10px;
    }
    
    .content__program-info-item span{
        margin: 10px 0 40px;
    }
    .wrapper-img{
        flex:0 0 50%;
    }
    .content_slider{
        flex-direction: column;
    }
    .content_slider-left p{
        width: 100%;
    }
    .slider{
        width: 100%;
    }
    .content__catalog-item{
        width: 100%;
        padding: 0;
    }
    .content__catalog{
        flex-direction: column;
        padding: 40px 10px 40px;
    }
    .content__cart{
        padding: 30px 15px 30px;
    }
    .cart{
        flex: 0 0 100%;
        margin-top:20px;
    }
    .footer{
        padding: 30px 15px;
    }
    .ABOUT h3, .ABOUT p{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .CONTACT{
        line-height: 30px;
    }
    .CONTACT ul{
        flex-direction: column;
    }
    .footer_icon{
        width: 70%;
    }
}